// Switch based on key for union field {{.FieldName}}
switch v.{{.DiscriminantField}} {
{{range .Cases}}
	{{.CaseLabels}}:
		{{.EncodeCode}}
{{end}}
{{if not .HasDefaultCase}}
	default:
		// unknown key - encode nothing
{{end}}
}